name: Release-Tag
on:
  push:
    branches: [ master, main ] 
    paths-ignore:
      - '**.md' ### Ignore running when .md files change
      - '**.yaml' ### Ignore running when .yaml files change
      - '**.json' ### Ignore running when .json files change
      - '.github/*' ### Ignore running when files under path: .github/* changed.

jobs:
  test:
    permissions:
      pull-requests: write
    uses: kubescape/workflows/.github/workflows/go-basic-tests.yaml@main
    with:
      GO_VERSION: 1.19
    secrets: inherit
  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # ratchet:actions/checkout@v3
      with:
        submodules: recursive
    - uses: rickstaa/action-create-tag@v1
      with:
        tag: "v0.0.${{ github.run_number }}"
 